[secretweb]
initiated = False
server-port = {{ secretweb_port }}
bind-address = {{ secretweb_bind_address }}
cert-file = cert.pem
key-file = private.pem
ca-file = ca.crt
systemd-unit-name = {{ secretweb_unit_name }}
